<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
<!-- {% include head-custom-google-analytics.html %} -->

<!-- setup umami analytics -->
{% include head-custom-umami-analytics.html %}

<!-- setup clarity analytics -->
<!-- {% include head-custom-clarity-analytics.html %} -->

<!-- You can set your favicon here -->
<!--{% capture favicon_path %}{{ '/image' | relative_url }}{% endcapture %}

<link rel="icon" type="image/jpg" href="{{ favicon_path }}/MEITU_20260128_220225596.jpg" sizes="96x96">-->

<!-- end custom head snippets -->
