{% if site.netease_player.enable %}
<!-- APlayer & MetingJS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>

<!-- Player Container -->
<div id="music-player-container" class="docked">
  <meting-js
    server="netease"
    type="playlist"
    id="{{ site.netease_player.playlist_id }}"
    fixed="false"
    mini="false"
    autoplay="false"
    theme="{{ site.netease_player.theme }}"
    loop="all"
    order="{{ site.netease_player.order }}"
    volume="{{ site.netease_player.volume }}"
  ></meting-js>
</div>

<!-- Player Style -->
<link rel="stylesheet" href="/assets/css/player.css" />

<!-- Player JS -->
<script src="/assets/js/player.js"></script>
<script src="/assets/js/player-dock.js"></script>
{% endif %}
