<div class="share-buttons">
  <span class="share-label">分享到</span>
  <a
    href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{ page.url | absolute_url | url_encode }}&title={{ page.title }}&desc={{ page.title }}"
    target="_blank"
    rel="noopener noreferrer"
    class="share-btn qzone"
    >QQ空间</a
  >
  <a
    href="https://connect.qq.com/widget/shareqq/index.html?url={{ page.url | absolute_url | url_encode }}&title={{ page.title | url_encode }}&summary={{ page.title | url_encode }}"
    target="_blank"
    rel="noopener noreferrer"
    class="share-btn qq"
    >QQ</a
  >
  <a
    href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}"
    target="_blank"
    rel="noopener noreferrer"
    class="share-btn facebook"
    >Facebook</a
  >
  <a
    href="https://x.com/intent/post?url={{ page.url | absolute_url | url_encode }}&text={{ page.title | url_encode }}&via=xiaofen"
    target="_blank"
    rel="noopener noreferrer"
    class="share-btn x"
    >X</a
  >
</div>
