<%
var hasLimit = typeof limit !== 'undefined' && limit !== null;
var showLimit = hasLimit && limit > 0;
%>
<div class="bili-dynamics<%= showLimit ? ' bili-dynamics-sidebar' : '' %>" data-limit="<%= hasLimit ? limit : '' %>">
  <% if (showLimit) { %>
  <div class="bili-dynamics-header">
    <span class="bili-dynamics-icon"><i class="fa-solid fa-satellite-dish"></i></span>
    <span>最新 B站动态</span>
  </div>
  <% } %>
  <div class="bili-dynamics-list">
    <div class="bili-dynamics-loading">加载中...</div>
  </div>
  <% if (showLimit) { %>
  <a href="/dynamics/" class="view-all">查看全部动态 →</a>
  <% } %>
</div>
