<div class="footer border-top border-gray-light mt-5 pt-3 text-gray">
  <div class="footer-content">
    <div><a href="<%= config.vicp_url %>" target="_blank" rel="noopener noreferrer">VICP-T6JGPJNE</a></div>
    <div>© 2025 - <%= date(new Date(), 'YYYY') %> lm-xiao-fen</div>
    <div>文章内容遵循 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener noreferrer">CC BY-NC-SA 4.0</a> 协议，源码遵循 <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank" rel="noopener noreferrer">APL 2.0</a> 协议</div>
    <div><a href="https://github.com/xfcnl/xfcnl.github.io" target="_blank" rel="noopener noreferrer">源码</a> 在GitHub开源</div>
    <div><a href="<%= url_for('/feed.xml') %>">RSS</a>&emsp;<a href="<%= url_for('/sitemap.xml') %>">网站地图</a></div>
  </div>
</div>
