<div class="dynamics-page">
  <h1><i class="fa-brands fa-bilibili"></i> B站动态</h1>
  <p class="dynamics-desc">来自 <a href="https://space.bilibili.com/3494372658121066" target="_blank" rel="noopener noreferrer">@xiaofen</a> 的 B 站动态（每24小时更新）</p>
  <div id="dynamics-list" class="dynamics-list">
    <div class="dynamics-loading"><i class="fa-solid fa-spinner fa-spin"></i> 加载中...</div>
  </div>
  <div class="dynamics-view-all">
    <a href="https://space.bilibili.com/3494372658121066/dynamic" target="_blank" rel="noopener noreferrer">
      <i class="fa-solid fa-arrow-up-right-from-square"></i> 在 B 站查看全部动态
    </a>
  </div>
</div>
