---
layout: default
---

<h1>{{ page.title }}</h1>

时间：{{ page.date | date: "%Y-%m-%d" }}&emsp;&emsp;&emsp;标签： {% for tag in
page.tags %}
<a href="/tag/#{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %}, {%
endunless %} {% endfor %}

<hr />

{{ content }}

<hr />

{% include share-buttons.html %}

<hr />

<div>
  <script
    src="https://giscus.app/client.js"
    data-repo="xfcnl/xfcnl.github.io"
    data-repo-id="R_kgDORKpEPA"
    data-category="General"
    data-category-id="DIC_kwDORKpEPM4C3Lg_"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="dark"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async
  ></script>
</div>

<div>
  <h3>相关文章</h3>
  <ul>
    {% assign related_posts = site.posts | concat: site.note | where_exp:
    "post", "post != page" %} {% for post in related_posts %} {% assign
    intersection = post.tags | intersect: page.tags %} {% if intersection.size >
    0 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %} {% endfor %}
  </ul>
</div>

<div>
  <h3>社交的</h3>

  <p>{% include social-links.html %}</p>
</div>
